@media screen and (min-width: 821px){
    .perfil-logo{
        font-size: 10px;
    }
    .menu-aberto, .menu-fechado, .menu{
        display: none;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 820px){
    .continentes, .icones{
        display: none;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .texto-logo{
        font-size: 18px;
    }
    .header{
        justify-content: space-between;
    }
    .perfil-logo{
        font-size: 12px;
    }
    .menu-aberto{
        display: block;
        position: absolute;
        top: 55px;
        background-color: white;
        text-align: left;
        padding: 10px;
        right: 0;
        width: auto;
        z-index: 50;
    }
    .menu-fechado{
        display: none;
    }

}
